/* Page Setup */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow:1;
}

header, footer, main{
    min-height: 100px;
}

section{
    min-height: 100px;
}

/*Nav Bar*/

.logo{
    display: block;
}

.logo img{
    width:100%;
    max-height:100px;
}

header{
    background-image: linear-gradient(black, #27272a);
    opacity:86%;
    display:flex;
}

nav{
    display: flex;
    justify-content: space-around;
    flex:1;
    align-items: center;
    padding:2.7em;
   
}

nav ul{
    display: flex;
    gap: 35px;
    list-style-type: none;
}

nav ul li a{
    color: white;
    font-size: 25px;
    text-decoration: none;
}

nav ul li:first-child{
    margin-left:50px;
}
    
nav li a:hover{
    color: red;
    transition: all 0.4s ease 0s;
}

/*Hero Section*/

#hero{
    display:flex;
    flex-wrap: wrap;
    flex:1;
    justify-content: center;
    align-content: center;
    gap: 45px;
    background-image: linear-gradient(#27272a, black);
    opacity:86%;
    padding:25px;
    padding-bottom: 75px;
}

.content-left{
    display: flex;
    flex-direction:column;
    color:white;
    height: auto;
    width:600px;
    
}

.content-left h1{
    font-size: 55px;
}

.content-left p{
    font-size: 21px;
    color: #E5E7EB;

}

.content-right{
    display: flex;
    flex-direction:column;
    height: auto;
    width: 650px;  
}

.content-right img{
    display: flex;
    width: 650px;
    height: auto;
    margin-top: 5px;
}

.button{
    display: flex;
    font-size:25px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    border: white 2px solid;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    text-decoration: none;
    margin-top: 20px;
}

.button:hover{
    color: black;
    border: black 3px solid;
}

span{
    font-size: 30px;
    font-weight: bold;
}


/* Quote Section */

#services{
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
    background-image: linear-gradient(white, grey);
}

.title{
    display: flex;
    justify-content: center;
    font-size: 67px;
    font-weight: bolder;
    text-shadow:0in;
    padding: 1em;
    color: color-mix(in srgb, black 25%, grey 75%)
}

.info_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 3.6em;
    
}

.info img{
    width: 100%;
    height: 250px;
    border-radius: 1em;
}

.info {
    margin: 16px;
    width: 16em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.info p{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    color: black;
}

/*Quote Section*/

#quote{
    background-image: url(../Landing-Page/img/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 950px;
    
}

.quote_container{
    margin-bottom: 275px;
    text-align: center;
    border: yellow 2px solid;
    font-size: 40px;
    color: black;
    width: 1000px;
    background-color: #dddddd;
    outline: black 3px solid;
    border-radius: 40px;
    opacity: 80%;
    padding: 15px 10px 10px 10px;  
}

.author{
    font-weight: 600;
}

/* Call to Action Section */

#call{
    background-image:linear-gradient(white, grey);
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #27272a;
    border-radius: 15px;
    margin: 75px auto;
    width: 75vw;
    height: 150px;
    color: white;
    align-items: center;
}

.call_container h2{
    font-size: 30px;
    font-weight: bolder;
}

.call_container p{
    font-size: 20px;
}

.call_container button{
    background-color: grey;
    color: white;
    border: 2px white solid;
    border-radius: 10px; 
    height: 50px;
    width: 140px;
    font-size: 20px;
}

.call_container button:hover{
    border: red 2px solid;
}

/* Footer */

.foot{
    background-color:#27272a;
    height: 10vh;
    padding: 0px 10%;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
}



