/* Page Setup */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow:1;
}

header, footer, main{
    border: 4px solid red;
    min-height: 100px;
}

section{
    border: 4px solid lime;
    min-height: 100px;
}

/*Nav Bar*/

.logo{
    display: block;
    padding: 10px;
    border: 4px solid orange;
}

.logo img{
    width:100%;
    max-height:100px;
}

header{
    background-image: linear-gradient(black, #27272a);
    opacity:86%;
    display:flex;
}

nav{
    display: flex;
    justify-content: space-around;
    flex:1;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}

nav ul li a{
    color: white;
    font-size: 21px;
    text-decoration: none;
}

nav ul li:first-child{
    margin-left:50px;
}
    
nav li a:hover{
    color: red;
    transition: all 0.4s ease 0s;
}

/*Hero Section*/

#hero{
    display:flex;
    flex-wrap:wrap;
    flex:1;
    justify-content: space-around;
    padding:50px 290px 50px 290px;
    gap:40px;
    background-image: linear-gradient(#27272a, black);
    opacity:86%;
}

.content-left{
    display: flex;
    flex:1;
    flex-direction:column;
    color:white;
    border: pink 4px solid;
    
}

.content-left h1{
    font-size: 48px;
}

.content-left p{
    font-size: 18px;
    color: #E5E7EB;

}

.content-right{
    display: flex;
    flex:1;
    flex-direction:column;
   
}

.content-right img{
    max-width: 100%;
    max-height: auto;
}

/* Quote Section */

#services{
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
    background-image: linear-gradient(white, grey);
}

.title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    padding: 1em;
}

.info_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 3em;
}

.info img{
    width: 100%;
    height: 250px;
    border-radius: 1em;
}

.info {
    margin: 16px;
    width: 16em;
    flex: 0 0 auto;
}

.info p{
    display: flex;
    justify-content: center;
    align-items: center;
}


